.a01 {
    color: blue;
    border: solid;
    border-left: dashed;
    border-right: double;
    border-bottom: dotted;
    border-width: 5px;
    border-color: blue;
}




.a02 {color: deepskyblue;
    border: solid



}




.a03{margin-top: 300px;
border: 10px cyan solid;
border-radius: 50%;
width: 50%;
height: 200px;}


h1{
margin-top: 300px;
border: 3px green dashed;
}